@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');

.smart-notification {
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 28px;
    font-size: 16px;
    color: rgb(13, 12, 34);
    width: 450px;
    position: fixed;
    right: 10px;
    top: 0;
}

h4,
p {
    margin: 0;
    padding: 0;
    line-height: 20px;
}

.notification {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 14px;
    position: relative;
}

.notification-wrap {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.notification a {
    background: none;
    border: none;
    cursor: pointer;
    color: #3498db;
    margin-left: auto;
    text-decoration: underline;
    font-weight: bold;
}

.notification button {
    background: white;
    border: 1px #ddd solid;
    border-radius: 4px;
    padding: 4px 6px;
    cursor: pointer;
}

.notification a:hover {
    text-decoration: underline;
}

.export-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.icon-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.export-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

@media screen and (max-width: 480px) {
    .smart-notification {
        width: calc(100% - 2px);
        position: inherit;
    }
}